@page "/"
@using GymBrosTracker.Domain.Models.Entity
@using GymBrosTracker.Domain.Repos.Interface
@using GymBrosTracker.Domain.Helpers.Extensions
@using Microsoft.Extensions.Logging
@inject IRepository _repository
@inject ILogger<Home> _logger

<h1>Gyakorlatok</h1>

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Exercise[]? exercises;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        exercises = (await _repository.GetExercises()).ToArray();

        #if DEBUG
        //TODO: Make developer only
        if (!exercises.Any())
            await _repository.SeedData();
        exercises = (await _repository.GetExercises()).ToArray();
        #endif
    }
}
