@inherits LayoutComponentBase

<head>
    <link href="css/MainLayout.css" rel="stylesheet" />
</head>
<body class="mainContent">
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
</body>
<footer class="footer">
    <div class="menuContainer">
        <div class="menuIcon">
            <img src="Image/Icon/exercise_d.png" />
        </div>
        <div class ="menuIcon">
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <img src="Image/Icon/home_d.png" />
            </NavLink>
        </div>
        <div class="menuIcon">
            <img src="Image/Icon/calendar_d.png" />
        </div>
    </div>
</footer>
